<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidnettest.code"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.scroll.code.MainAct"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <action android:name="com.scroll.code.MainAct" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.scroll.code.TestAct"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.volleystudy.MainActivity_A"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.myscroll.code.MainAct"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.handlerthread.code.MainAct"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.measure.code.ActMain"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.measure.code.FragMainAct"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.imageloader.code.MainAct"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.myhandlerthread.code.MainAct3"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.myviewtest.code.MainAct"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myhandlerthread.code.MainAct2"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.customview.test.ViewAct" >
        </activity>
    </application>

</manifest>